# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Output files
*.log
*.csv
*.json
!**/project.json

# Temporary files
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds

# macOS
.DS_Store

# Windows
Thumbs.db
